/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-apisense{
  background-color: #222;
  border-color: #080808;
}
.navbar-apisense .navbar-brand{
  color: #FF9024;
}
.navbar-apisense .navbar-brand:hover{
  color: #FE7D00;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    pading-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.page-header {
  text-align: right;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  border-radius: 50%;
}

/*
 * Leaflet map
 */
#map{
  height: 400px;
  border-bottom: 2px solid #222;
}

/*
 * QR Code
 */
#app-qr-code{
  right:20px;
  bottom:20px;
  position:absolute;
}
#app-qr-code .qr-code-p{
  text-align:right;
  margin:0 20px -10px 0;
  font-size:16px;
}
#app-qr-code .qr-code-img{
  float:right;
  width:200px;
  height:200px;
  margin-bottom:-20px;
}