/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-apisense{
  background-color: #222;
  border-color: #080808;
}
.navbar-apisense .navbar-brand{
  color: #FFA349;
}
.navbar-apisense .navbar-brand:hover{
  color: #FE7D00;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.page-header {
  text-align: right;
}


/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  border-radius: 50%;
}

/*
 * Leaflet map
 */
#map{
  height: 100%;
}
#map-anchor{
  height: 350px;
  margin-bottom: 20px;
}
.hresize{
  width: 100%;
  height: 8px;
  background: url(images/handle-h.png) no-repeat center bottom;
}

/*
 * Range slider
 */
 #slider{
  margin-top: 10px;
 }
.ui-rangeSlider,
.ui-rangeSlider-container{
  height: 16px;
}
.ui-rangeSlider{
  padding-top: 26px;
}
.ui-rangeSlider-noArrow .ui-rangeSlider-container,
.ui-rangeSlider-container{
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  border:0;
}
.ui-rangeSlider-bar{
  height: 15px;
  background: #f0ad4e;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui-rangeSlider-label{
  bottom: 28px;
  padding: 2px 8px;
  color: #333;
  background: #fff;
  border: 1px solid #e1e1e8;
  -web-box-shadow: 0 1px 0 #e1e1e8;
  box-shadow: 0 1px 0 #e1e1e8;
}
.ui-rangeSlider-label-inner{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top:10px solid #e1e1e8;
}

/**
 * Left legend
 */
.progress{
  margin-bottom: 5px;
}
.progress-bar-header-img{
  text-align: right;
}
.progress-bar-plane{
  background-color: #333;
}
.progress-bar-car{
  background-color: #d9534f;
}
.progress-bar-bus{
  background-color: #f0ad4e;
}
.progress-bar-train{
  background-color: #5bc0de;
}

/**
 * Reports table
 */
.bg-table-car{
  background-color: #f2dede;
}
.bg-table-train{
  background-color: #d9edf7;
}
.bg-table-walking{
  background-color: #dff0d8;
}

.store-icon img {
  width:95%;
}

/*
 * Alert popup
 */
.alert{
  display: none;
}